.*{
    margin£º0£»
    padding£º0£»
}

.img{

	float:left;
	margin-left:2%;
}

.panel
{
	float:left;
	margin-top:6%;
	margin-left:3%;
}


.footer
{
	position:absolute;
	bottom:0px;
	display:block;
	float:left;
	margin-left:40%;
	font: 1.5em Georgia, "Times New Roman", Times, serif;
}

.timeCss
{
	float: right;
	margin-right:1%;
}
