<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" 
    version="2.4" 
    xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>
	XYY Tour Guide
  </display-name>
  <!-- <welcome-file-list>
    <welcome-file>html/login.html</welcome-file>
  </welcome-file-list> -->
  <servlet>
 	<servlet-name>AndroidLoginServlet</servlet-name>
 	<servlet-class>controller.tourist.android.LoginServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>AndroidLoginServlet</servlet-name> 
  	<url-pattern>/login_servlet.do</url-pattern> 
  </servlet-mapping>
  <servlet>
 	<servlet-name>AndroidRegisterServlet</servlet-name>
 	<servlet-class>controller.tourist.android.RegisterServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>AndroidRegisterServlet</servlet-name> 
  	<url-pattern>/register_servlet.do</url-pattern> 
  </servlet-mapping>
  <servlet>
 	<servlet-name>AndroidSendLocServlet</servlet-name>
 	<servlet-class>controller.tourist.android.SendLocServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>AndroidSendLocServlet</servlet-name> 
  	<url-pattern>/send_loc_servlet.do</url-pattern> 
  </servlet-mapping> 
  <servlet>
 	<servlet-name>AndroidFriendLocServlet</servlet-name>
 	<servlet-class>controller.tourist.android.FriendLocServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>AndroidFriendLocServlet</servlet-name> 
  	<url-pattern>/friend_location.do</url-pattern> 
  </servlet-mapping> 
  <servlet>
 	<servlet-name>AndroidSpotCommentServlet</servlet-name>
 	<servlet-class>controller.tourist.android.SpotCommentServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>AndroidSpotCommentServlet</servlet-name> 
  	<url-pattern>/comment_servlet.do</url-pattern> 
  </servlet-mapping> 
  <servlet>
 	<servlet-name>AndroidCallServlet</servlet-name>
 	<servlet-class>controller.tourist.android.CallServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>AndroidCallServlet</servlet-name> 
  	<url-pattern>/call_servlet.do</url-pattern> 
  </servlet-mapping> 
  <servlet>
 	<servlet-name>AndroidSendFeedbackServlet</servlet-name>
 	<servlet-class>controller.tourist.android.SendFeedbackServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>AndroidSendFeedbackServlet</servlet-name> 
  	<url-pattern>/send_feedback.do</url-pattern> 
  </servlet-mapping> 
  
  
  
  <filter>
  	<filter-name>struts2</filter-name>
  	<filter-class>
  		org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
  	</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>struts2</filter-name>
  	<url-pattern>*.action</url-pattern>
  </filter-mapping>
  <!-- <listener>
  	<listener-class>
  		org.springframework.web.context.ContextLoaderListener
  	</listener-class>
  </listener>
  -->
</web-app>
